@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #041e75, #8a1053);
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #041e75, #8a1053);
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 -20px);
}
form .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.details {
  
  margin-right: 20px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


form .button {
  height: 45px;
  margin: 35px 0;
  justify-content: space-around;
}
.button {
  margin: 5px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #041e75, #8a1053);
}
button:hover {
  transform: scale(1.05);
  background: linear-gradient(-135deg, #ccc, #041e75);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: 100%;
}

.card {
  
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}
.subtitle {
  text-decoration: linear-gradient(135deg, #041e75, #8a1053);
}
/* .container .subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #041e75, #8a1053);
} */