@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #2e4aa7, #8a1053);
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

 .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #303955, #8a1053);
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.details {
  display: table;
  font-weight: 500;
  margin: 5px;
  text-align: center;
  margin-right: 20px;
}

.user-details {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
input {
  margin-left: 5px;
  border-radius: 0;
}
.button {
  margin: 5px 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #041e75, #8a1053);
}
button:hover {
  transform: scale(1.05);
  background: linear-gradient(-135deg, #ccc, #041e75);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
}

.card {
  padding: 5px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgb(153, 153, 153);
}
.scroll-card {
  overflow-y: scroll;
  max-height: 500px;
}
